---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent?access_token=684175016.1d1a0a0.e79ca0de3adc457182dc95a158a68384
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '451'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":{"latitude":39.61900034,"name":"Buffalo
        Mountain","longitude":-106.091719383,"id":251727556},"comments":{"count":1},"filter":"Clarendon","created_time":"1452453317","link":"https:\/\/www.instagram.com\/p\/BAXrFnDAEYZ\/","likes":{"count":35},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s320x320\/e35\/12523767_1011775992220969_2051935539_n.jpg?ig_cache_key=MTE1OTU4NDkzMDU5NDgzMzk0NQ%3D%3D.2","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s150x150\/e35\/12523767_1011775992220969_2051935539_n.jpg?ig_cache_key=MTE1OTU4NDkzMDU5NDgzMzk0NQ%3D%3D.2","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s640x640\/sh0.08\/e35\/12523767_1011775992220969_2051935539_n.jpg?ig_cache_key=MTE1OTU4NDkzMDU5NDgzMzk0NQ%3D%3D.2","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1452453317","text":"Chonicles
        of Gnarnia with elm dog. \u2603","from":{"username":"damwhita","profile_picture":"https:\/\/scontent.cdninstagram.com\/t51.2885-19\/11428706_1479772922342298_1403186492_a.jpg","id":"684175016","full_name":"David
        Michael"},"id":"1159584933564401464"},"user_has_liked":false,"id":"1159584930594833945_684175016","user":{"username":"damwhita","profile_picture":"https:\/\/scontent.cdninstagram.com\/t51.2885-19\/11428706_1479772922342298_1403186492_a.jpg","id":"684175016","full_name":"David
        Michael"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":9},"filter":"Normal","created_time":"1451396987","link":"https:\/\/www.instagram.com\/p\/_4MTEVAEd-\/","likes":{"count":64},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s320x320\/e35\/1516093_596403250508237_440488129_n.jpg?ig_cache_key=MTE1MDcyMzc5MTY2ODY2MDA5NA%3D%3D.2","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s150x150\/e35\/1516093_596403250508237_440488129_n.jpg?ig_cache_key=MTE1MDcyMzc5MTY2ODY2MDA5NA%3D%3D.2","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/t51.2885-15\/s640x640\/sh0.08\/e35\/1516093_596403250508237_440488129_n.jpg?ig_cache_key=MTE1MDcyMzc5MTY2ODY2MDA5NA%3D%3D.2","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.245333333,"x":0.305333333},"user":{"username":"lriffell","profile_picture":"https:\/\/scontent.cdninstagram.com\/t51.2885-19\/11098660_846071145459297_1292308396_a.jpg","id":"23319913","full_name":"lriffell"}}],"caption":{"created_time":"1451396987","text":"Couldn''t
        be more excited to call this little lady my bride to be!  Elmer''s stoked
        too he just has a hard time finding the camera.","from":{"username":"damwhita","profile_picture":"https:\/\/scontent.cdninstagram.com\/[...]
