---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1159584930594833945_684175016/comments?access_token=684175016.1d1a0a0.e79ca0de3adc457182dc95a158a68384
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '399'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":[{"created_time":"1459916256","text":"Cool!
        Winter is coming.","from":{"username":"artofmoxie","profile_picture":"https:\/\/scontent.cdninstagram.com\/t51.2885-19\/10706750_852405121512571_1455045308_a.jpg","id":"16502037","full_name":"Beth"},"id":"1222188597566785196"},{"created_time":"1460052675","text":"White
        walkers are scary","from":{"username":"damwhita","profile_picture":"https:\/\/scontent.cdninstagram.com\/t51.2885-19\/11428706_1479772922342298_1403186492_a.jpg","id":"684175016","full_name":"David
        Michael"},"id":"1223332970404792315"},{"created_time":"1460053180","text":"test
        comment","from":{"username":"damwhita","profile_picture":"https:\/\/scontent.cdninstagram.com\/t51.2885-19\/11428706_1479772922342298_1403186492_a.jpg","id":"684175016","full_name":"David
        Michael"},"id":"1223337198942700848"}]}'
  recorded_at: Thu, 07 Apr 2016 18:19:42 GMT
recorded_with: VCR 3.0.1
