.sm-img {
  width: 80px;
  height: 80px;
}

.media-text {
  font-size: 25px;
  vertical-align: top;
}

.feed {
  width: 100%;
}

.article {
  border: 0.3px solid black;
  padding-top: 10px;
  margin-bottom: 20px;
}

.time {
  text-align: right;
  vertical-align: center;
}

.comment {
  font-size: 20px;
}

.paginate {
  text-align: center;
}
