<nav class="navbar navbar-default" role="navigation">
  <span class="navbar-brand glyphicon glyphicon-camera"></span>
  <% if current_user %>
    <a class="navbar-brand" href="/posts">ApIcUrIoUs</a>
  <% else %>
    <a class="navbar-brand" href="/">ApIcUrIoUs</a>
  <% end %>
  <ul class="pull-right nav navbar-nav">
  <% if current_user %>
    <span class="navbar-brand"><%= link_to current_user.name, user_path(current_user.username) %></span>
    <span class="navbar-brand"><%= link_to "logout", logout_path, method: :delete %></span>
  <% else %>
    <span class="navbar-brand"><%= link_to "login with instagram", instagram_login_path %></span>
  <% end %>
  </ul>
</nav>
